/* Style Seet for DCinterest site */

.member_register{
    margin: 40px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-between; */
}

.signup_image{
    margin: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subscribe_image{
    margin: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    
body {
    background-image: url("../img/castle.jpg");
    width: 100%;
}