body {
  color: #a67f4e;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.38889em;
  font-family: Segoe Alt W00 Light,Segoe UI,Helvetica,sans-serif;
}

.greeting-line {
    background-color: #A02A06;
    padding-top: 5em;
    display: flex;
    justify-content: space-around;
    height: 400px;
  }

  .dragonshadow {
    bottom:100px;
  }

  .typewriter h1 {
    color: #15120B;
    font-family:"Lato", sans-serif;
    font-weight: bold;
    line-height: 1.2em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #15120B; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 100px auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #15120B}
  }

  /* style for the divider */
.divider {
  background-image: url(../img/raw/fire-gif.gif);
  background-repeat: repeat-x;
  width: 100%;
  padding: 100px;
}

.divider2 {
  background-color: #444439;
  padding:30px;
  width: 100%;
}

/* style of the grids */
.grid-container {
  display: grid;

  background-color: transparent;

}
.grid-item {
  background-color: transparent;
  text-align: center;
  padding:20px;
  font-size: 30px;
}
.item1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: #383734;
  text-align: left;
  color: #a67f4e;
  min-height: 215 px;
  font-size: 1.625rem;
  line-height: 1.2em;
}

.item1 h1 {
  font-family: 'VT323', monospace;
  text-transform: capitalize;
}

.item1 p {
  font-family: 'Ubuntu Mono', monospace;
  text-transform: uppercase;
  font-style: italic;
}
.item2 {
  grid-column: 7 / span 2;
  grid-row: 1 / span 3;
  padding: 5px;
  
  background-color:#a67f4e;
}
.item3 {
  grid-column: 9 / span 4;
  grid-row: 1 / span 10;
  background-color:#383734;
}

.eli .item3 {
  background-color: white;
}

.chiza .item3 {
  background-color: white;
}

.item4 {
  grid-column: 1 / span 8;
  grid-row: 4 / span 7;
  background-image: url(../img/raw/bg-gradient.jpg);
  background-size: cover;
  color: #15120B;
  font-size: 1.125rem;
  line-height: 1.38889em;
}

.lanny .item4 {
  padding: 20px 20px 20px 20px;
  font-size: auto;
}

.item4 h4 {
  bottom: 20px;
}

.item5 {
  grid-column: 1 / span 12;
  grid-row: 11 / span 5;

  background-color:  #e3dcd7;
  color: #15120B;
  font-size: 1.3rem;
  line-height: 1.38889em;
}

.profile-pic {
  object-fit: scale-down;
  width: 200px;

}

.aide-pic {
  object-fit: scale-down;
  width:300px;
}

/* progess bar style */
.progress {
  margin: 8px;
}

.item5 p{
  font-size: 1.14rem;
  font-style: bold;
  text-align: left;
  font-family: 'Ubuntu Mono', monospace;
}

.bgcl {
  background-color: #a67f4e ;
  font-family: 'Ubuntu Mono', monospace;
}